<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<th:block th:include="/inc/public::baseStyle"></th:block>
</head>
<body>
<form class="form-horizontal" role="form" th:action="@{|/auth/${auth.authId != null ? 'saveUpdate' : 'save'}|}" method="post" th:object="${auth}">
	<div style="position:  relative; left: 30px;">
		<h3>[[${auth.authId != null ? "修改" : "新增"}]]权限</h3>
	  	<div style="position: relative; top: -40px; left: 70%;width: 200px;">
			<button type="submit" class="btn btn-primary">保存</button>
			<button type="button" class="btn btn-default" onclick="window.history.back();">取消</button>
		</div>
		<hr style="position: relative; top: -40px;">
	</div>


		<div class="form-group">
			<label  class="col-sm-2 control-label">权限名称<span style="font-size: 15px; color: red;">*</span></label>
			<div class="col-sm-10" style="width: 300px;">
				<input type="hidden" th:field="*{authId}">
				<input type="text" class="form-control"  style="width: 200%;" th:field="*{authName}">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">编码</label>
			<div class="col-sm-10" style="width: 300px;">
				<input type="text" class="form-control" th:field="*{authCode}" style="width: 200%;" >
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">访问地址</label>
			<div class="col-sm-10" style="width: 300px;">
				<input type="text" class="form-control" th:field="*{authUrl}" style="width: 200%;"> 多个地址逗号(,)隔开
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">启用</label>
			<div class="col-sm-10" style="width: 300px;">
				<input type="radio"   value="1" th:field="*{authStatus}"> 是
				<input type="radio"   value="0" th:field="*{authStatus}"> 否
			</div>
		</div>
	</form>

</body>
</html>